/******************************
******************************
    FONTS
******************************
******************************/
@font-face {
    font-family: black-chancery;
    src: url(fonts/black-chancery.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(fonts/Tahoma.ttf);
}


/******************************
******************************
    ELEMENTS
******************************
******************************/
*, *:before, *:after {
    box-sizing: border-box;
    //outline: 1px solid black;
}

input, a, div, p, img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    background: url(images/background.jpg);
}

body {
    font-family: Tahoma, serif;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: darkred;
    outline: none;
}

h1 {
    font-family: black-chancery;
    font-size: 40px;
    margin: 0;
}

h2 {
    color: darkred;
}

li {
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: left;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

table { 
    margin: 20px auto 0;
}

th, td {
    padding: 10px;
}

th {
    background-color: darkred;
    color: white;
}


/******************************
******************************
    INPUTS
******************************
******************************/
input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


/******************************
******************************
    BUTTONS
******************************
******************************/
.board-button, .board-button-skip {
    height: 60px;
    width: 275px;
    font-size: 40px;
    border: 2px solid black;
    cursor: pointer;
    margin: 0 auto;
    padding-top: 3px;
}

.board-button {
    background-color: rgba(255,255,255,0.8);
    color: darkred;
}

.board-button-skip {
    background-color: red;
    color: white;
}

.tile-button {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
}

.select-button-small, .select-button-large, .select-button-large-2 {
    color: darkred;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid black;
    cursor: pointer;
}

.select-button-small, .select-button-region {
    width: 75px;
    height: 75px;
    font-size: 50px;
    padding-top: 5px;    
}

.select-button-large {
    width: 100px;
    height: 100px;
    font-size: 60px;
    padding-top: 7px;
}

.select-button-large-2 {
    width: 100px;
    height: 100px;
    font-size: 50px;
    padding-top: 13px; 
}

.select-button-region {
    color: white;
    background-color: darkred;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}


/******************************
******************************
    GLOBAL STYLES
******************************
******************************/
#main-wrapper-div {
    max-width: 414px;
    text-align: center;
    display: none;
}


/******************************
******************************
    ALL POP-UPS
******************************
******************************/
.pu {
    max-width: 414px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: none;
}

.pu-p {
    font-size: 30px;
}

.pu-flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    width: 255px;
}

.pu-flex-div div {
    margin-bottom: 30px;
}


/******************************
******************************
    INDEX
******************************
******************************/
#index-html {
    background-image: url(images/background2.jpg);
}

    /******************************
        INDEX > TITLE SCREEN
    ******************************/
    #title-screen-pop {
        max-width: 414px;
        height: 736px;
    }

    #title-screen-pop p {
        padding: 40px;
        margin: 0;
        font-size: 75px;
        font-family: black-chancery, serif;
        color: gold;
        text-shadow: 4px 4px 4px black;
    }

    /******************************
        INDEX > BOARD GROUP & WHITE DICE
    ******************************/
    #select-board-group-pop div {
        margin: 0 auto;
        margin-bottom: 25px; 
    }

    #tap-to-select, #tap-to-roll {
        max-width: 414px;
        height: 300px;
        padding-top: 75px;
        font-size: 100px;
        margin-bottom: 50px
    }

    #tap-to-roll {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150px;
    }


/******************************
******************************
    PLAY
******************************
******************************/

    /******************************
        PLAY > PLAYERS, ORDER, & COLORS
    ******************************/
    #select-players-flex-div, #select-color-flex-div, #player-order-flex-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
    }

    #select-players-flex-div {
        width: 150px;
    }

    #player-order-flex-div {
        width: 260px;
    }

    #select-players-flex-div div, #player-order-flex-div div {
        margin-bottom: 30px;
    }

    #select-color-pop img {
        cursor: pointer;
        margin: 10px 10px;
    }

    #select-color-flex-div {
        width: 250px;
    }

    /******************************
        PLAY > ROLL BUTTON FLEX DIV
    ******************************/
    .roll-button-flex-div {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 25px;
        height: 60px;
    }

    .check-here-p {
        font-size: 15px;
        margin: 5px 0 5px 0;
    }

    .mus-p {
        font-size: 25px;
        margin: 15px 0 0 0;
    }

    #mine-span, #unsold-span, #sold-span {
        font-size: 25px;
        font-weight: bold;
    }

    /******************************
        PLAY > ROLLED DICE FLEX DIV
    ******************************/
    .rolled-dice-flex-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    .click-to-hide-div {
        margin: 10px;
        outline: 1px dashed gray;
        cursor: pointer;
    }

    .click-to-roll-div {
        margin: 10px;
        outline: 1px dashed red;
        cursor: pointer;
    }

    #roll-1-div, #roll-2-div, #roll-3-div {
        height: 100px;
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #roll-3-div {
        visibility: hidden;
        margin: 0;
    }

    /******************************
        PLAY > LATEST POINTS
    ******************************/
    .latest-points-div {
        height: 20px;
    }

    #latest-points-span {
        font-weight: bold;
    }

    /******************************
        PLAY > PHASE-POINTS-ROUND FLEX DIV
    ******************************/
    .phase-points-round-flex-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .phase-round-div {
        cursor: pointer;
        margin-top: 0;
    }

    .phase-round-div p {
        font-family: black-chancery, serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 3px;
    }

    #phase-span, #round-span {
        font-weight: bold;
        font-size: 30px;
    }

    .total-points-div {
        width: 150px;
        margin: 0;
        cursor: pointer;
    }

    #total-points {
        font-size: 85px;
        color: darkred;
        font-weight: bold;
    }

    /******************************
        PLAY > SILVER-PLAYERS-WORKERS FLEX DIV
    ******************************/
    #spw-flex-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        height: 30px;
    }

    #spw-flex-div div, #spw-flex-div span, #spw-flex-div img {
        height: 30px;
    }

    #spw-flex-div img {
        margin-right: 10px;
        border: 1px solid black;
    }

    #silver-count-img {
        background-color: #C6B4B1;
    }

    #silver-span, #worker-span {
        font-size: 25px;
        font-weight: bold;
        float: right;
    }

    .player-p {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
    }

    /******************************
        PLAY > REGION POINTS
    ******************************/
    #region-point-tap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        max-width: 340px;
        margin: 0 auto 30px auto;
    }

    #region-point-tap div {
        margin: 5px;
    }

    /******************************
        PLAY > POINT QUICK-ADD
    ******************************/
    .point-quickadd-div {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 330px;
    }

    .point-quickadd-div div {
        margin: 5px !important;
    }

    #point-quickadd-div-end {
        margin-bottom: 30px;
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 330px;
    }

    #point-quickadd-div-end div {
        margin: 5px;
    }

    /******************************
        PLAY > ALL TILE BUTTONS
    ******************************/
    #sell-goods, #watchtower, #animals, #monastaries, #large-bonus, #small-bonus, #mine, #bank, #boardhouse, #warehouse, #ship, #dice-trade, #k2, #k3, #k4, #k13, #k14, #k15, #k1623, #k24, #k25, #k26, #unsold-goods, #silverlings, #workers, #know15, #know16-23, #know24, #know25, #know26 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #sell-goods {
        background-image: url(images/sell-goods.jpg);
        background-color: #D2CC95;
    }

    #animals {
        background-image: url(images/animals.png);
        background-color: #BEE53D;
    }

    #watchtower {
        background-image: url(images/watchtower.png);
        background-color: #D2CC95;
    }

    #monastaries {
        background-image: url(images/monastary.png);
        background-color: #BEBF8C;
    }

    #large-bonus {
        background-image: url(images/large-bonus.jpg);
    }

    #small-bonus {
        background-image: url(images/small-bonus.png);
        background-color: #BABDB8;
    }

    #mine {
        background-image: url(images/mine.png);
        background-color: #BDC1BE;
    }

    #bank {
        background-image: url(images/bank.png);
        background-color: #D2CC95;
    }

    #boardhouse {
        background-image: url(images/boarding.png);
        background-color: #D2CC95;
    }

    #warehouse {
        background-image: url(images/warehouse.png);
        background-color: #D2CC95;
    }

    #ship {
        background-image: url(images/ship.png);
        background-color: #7AC4E4;
    }

    #dice-trade {
        background-image: url(images/bw-dice.png);
        background-size: 75% !important;
        background-color: #BDC1BE;
    }

    #k2 {
        background-image: url(images/knowledge-tiles-2.png);
        background-color: #E0D537; 
    }

    #k3 {
        background-image: url(images/knowledge-tiles-3.png);
        background-color: #E0D537; 
    }

    #k4 {
        background-image: url(images/knowledge-tiles-4.png);
        background-color: #E0D537; 
    }

    #k13 {
        background-image: url(images/knowledge-tiles-13.png);
        background-color: #E0D537; 
    }

    #k14 {
        background-image: url(images/knowledge-tiles-14.png);
        background-color: #E0D537; 
    }

    #k15 {
        background-image: url(images/knowledge-tiles-15.png);
        background-color: #E0D537; 
    }

    #k1623 {
        background-image: url(images/knowledge-tiles-16-23.png);
        background-color: #E0D537; 
    }

    #k24 {
        background-image: url(images/knowledge-tiles-24.png);
        background-color: #E0D537; 
    }

    #k25 {
        background-image: url(images/knowledge-tiles-25.png);
        background-color: #E0D537; 
    }

    #k26 {
        background-image: url(images/knowledge-tiles-26.png);
        background-color: #E0D537; 
    }

    #unsold-goods {
        background-image: url(images/unsold-goods.jpg);
    }

    #silverlings {
        background-image: url(images/silverling.png);
        background-color: #C6B4B1;
    }

    #workers {
        background-image: url(images/worker.jpg);
    }

    #know15 {
        background-image: url(images/knowledge-tiles-15.png);
        background-color: #E0D537;
    }

    #know16-23 {
        background-image: url(images/knowledge-tiles-16-23.png);
        background-color: #E0D537;
    }

    #know24 {
        background-image: url(images/knowledge-tiles-24.png);
        background-color: #E0D537;
    }

    #know25 {
        background-image: url(images/knowledge-tiles-25.png);
        background-color: #E0D537;
    }

    #know26 {
        background-image: url(images/knowledge-tiles-26.png);
        background-color: #E0D537;
    }

    /******************************
        PLAY > POINT LOG
    ******************************/

    #point-log {
        background-color: rgba(255,255,255,0.5);
        margin-bottom: 40px;
    }

    #point-log-h1 {
        font-size: 25px;
    }

    #point-log p {
        margin: 0;
    }


/******************************
******************************
    BONUS.HTML
******************************
******************************/


#bonus-html {
    background: url(images/background2.jpg);
}

.bonus-h1 {
    color: gold;
    font-family: black-chancery, serif;
    text-align: center;
    font-size: 75px;
    margin: 20px 0;
    text-shadow: 3px 3px 5px black;
}

.bonus-description-div {
    max-width: 300px;
    margin: 0 auto;
    font-size: 30px;
}

#bonus-description {
    background-color: rgba(127, 0, 127, 0.5);
    color: gold;
    padding: 20px;
    border: 10px ridge gold;
    text-shadow: 1px 1px 5px black;
    border-style: 
}


/******************************
******************************
    SETUP.HTML
******************************
******************************/


.setup-div {
    margin: 0 auto;
    max-width: 414px;
}

.setup-div li, .expansion-main-wrap li {
    font-size: 22px;
}


/******************************
******************************
    EXPANSION.HTML
******************************
******************************/


.exp-main-wrap {
    margin: 0 auto;
    max-width: 414px;
    padding: 0 15px 0 15px;
}

.exp-main-wrap div {
    margin-bottom: 50px;
}

.exp-main-wrap li {
    font-size: 20px;
    text-align: left;
}


/******************************
******************************
    REFERENCE.HTML
******************************
******************************/


.knowledge-tile-flex-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    max-width: 414px;
}


/******************************
******************************
    MEDIA QUERIES
******************************
******************************/


@media screen and (max-width: 339px) {
    #roll-1-div, #roll-2-div, #roll-3-div {
        height: 80px;
        width: 80px;
    }
    
    .region-point-tap div {
        font-size: 40px;
        width: 60px;
        height: 60px;
        margin: 5px;
        padding-top: 2px;
    }
    
    #title-screen-pop p {
        padding: 40px;
        margin: 0;
        font-size: 50px;
        font-family: black-chancery, serif;
        color: gold;
        text-shadow: 4px 4px 4px black;
    }
}

@media screen and (max-width: 281px) {
    #roll-1-div, #roll-2-div, #roll-3-div {
        height: 70px;
        width: 70px;
    }
    
    .total-points-div {
        width: 100px;
    }
    
    #total-points {
        font-size: 60px;
    }
}