/***FONTS***/
@font-face {
    font-family: black-chancery;
    src: url(fonts/black-chancery.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(fonts/Tahoma.ttf);
}

/***UNIVERSAL***/
.tile-button, .tile-button-no-border, .number-button, #tap-to-roll, #silver-img, #silver-count, #worker-img, #worker-count, #roll-1-div, #roll-2-div, #roll-3-div, #dice-1, #dice-2 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"], input[type="range"], .board-button, .board-button-skip, .tile-button, .tile-button-no-border, .number-button, .click-to-hide-div, .click-to-roll-div, .goods-bonus-turn-flex-div p, #phase-round-span, #silver, #workers {
    cursor: pointer;
}

.pu-flex-div, .upper-flex-div, #rolled-dice-flex-div, .goods-bonus-turn-flex-div, #unsold-sold, #bonus-turn, #pu-b, #pu-k {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/***ELEMENTS***/
*, *:before, *:after {
    box-sizing: border-box;
    //outline: 1px solid green;
}

input, a, div, p, img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    background: url(images/background.jpg);
}

body {
    font-family: Tahoma, serif;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: black-chancery;
    font-size: 40px;
    margin: 0 0 10px 0;
}

h2 {
    color: darkred;
}

li {
    margin: 0 10px 5px 0;
    text-align: left;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

table { 
    margin: 20px auto 0;
}

th, td {
    padding: 10px;
}

th {
    background-color: darkred;
    color: white;
}


/***INPUTS***/
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="range"] {
    width: 75%;
    margin: 20px 0;
}


/***BUTTONS***/
.board-button, .board-button-skip {
    height: 60px;
    width: 345px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 7.5px;
    border: 2px solid black;
    display: inline-block;
}

.board-button {
    background-color: rgba(255,255,255,0.8);
    color: darkred;
}

.board-button-skip {
    background-color: darkred;
    color: white;
}

.tile-button, .tile-button-no-border {
    height: 75px;
    width: 75px;
}

.tile-button {
    border: 2px solid black;
    background-color: rgba(255,255,255,0.5);
}

.number-button {
    height: 75px;
    width: 75px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid black;
}

/***INDEX.HTML***/
#index-html {
    background-image: url(images/background2.jpg);
}

#main-wrapper-div {
    max-width: 414px;
}

/***INDEX.HTML > GAME SETUP***/
#tap-to-select {
    padding-top: 85px;
    height: 350px;
    font-size: 100px;
}

#tap-to-roll {
    width: 100px;
    height: 100px;
    outline: 1px solid gray;
}

/***INDEX.HTML > TOP SECTION***/
.upper-flex-div {
    height: 50px;
    margin-top: 20px;
}

.upper-flex-div div {
    height: 50px;
}

#phase-round-div {
    width: 90px;
}

#phase-round-span {
    display: inline-block;
    font-weight: bold;
    height: 50px;
    font-size: 40px;
}

.checkbox-p {
    font-size: 15px;
    margin: 0 0 3px 0;
}

#silver-img, #silver-count, #worker-img, #worker-count {
    display: inline-block;
    height: 40px;
    width: 40px;
}

#silver-count, #worker-count {       
    float: right;
    font-size: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background: rgba(255,255,255,0.35);
}

#silver-img {
    background-image: url(images/silverling.png);
    background-color: #C6B4B1;
    border: 1px solid black;
}

#worker-img {
    background-image: url(images/worker.jpg);
    border: 1px solid black;
}

#rolled-dice-flex-div {
    margin: 10px 0;
}

.click-to-hide-div {
    height: 95px;
    width: 95px;
    margin: 10px;
    outline: 1px dashed gray;
}

.click-to-roll-div {
    margin: 10px;
    outline: 1px solid red;
}

#roll-1-div, #roll-2-div, #roll-3-div {
    height: 95px;
    width: 95px;
}

#roll-3-div {
    visibility: hidden;
}

/***INDEX.HTML > MIDDLE SECTION***/
.latest-activity-div {
    height: 20px;
    background-color: rgba(255,255,255,0.5);
}

#latest-activity-span {
    font-weight: bold;
}

.goods-bonus-turn-flex-div {
    height: 90px;
}

.goods-bonus-turn-flex-div p {
    font-size: 25px;
    margin: 5px 0 0 0;
}

#unsold-count, #sold-count, #bonus-count, #turn-count {
    font-size: 25px;
    font-weight: bold;
}

#unsold-sold, #bonus-turn {
    align-items: center;
    height: 90px;
    width: 70px;
}

.total-points-div {
    width: 150px;
    height: 90px;
    margin: 0;
}

#total-points {
    height: 90px;
    line-height: 110%;
    margin: 0;
    font-size: 85px;
    color: darkred;
    font-weight: bold;
}


/***INDEX.HTML > BOTTOM SECTION (MAIN TILES)***/
#region-points {
    background-image: url(images/R.png);
}

#building {
    background-image: url(images/building-tile-labeled.png);
    background-color: #D2CC95;
}

#knowledge {
   background-image: url(images/knowledge-tile-labeled.png);
   background-color: #E0D537;  
}

#animal {
    background-image: url(images/animal-tile-labeled.png);
    background-color: #BEE53D;
}

#ship {
    background-image: url(images/ship.png);
    background-color: #7AC4E4;
}

#sell-goods {
    background-image: url(images/sell-goods.jpg);
    background-color: #D2CC95;
}

#large-bonus {
    background-image: url(images/large-bonus.jpg);
}

#small-bonus {
    background-image: url(images/small-bonus.png);
}

#mine {
    background-image: url(images/0-mines.png);
    background-color: #BDC1BE;
}

#dice-trade {
    background-image: url(images/bw-dice.png);
    background-size: 75% !important;
    background-color: #BDC1BE;
}

#castle {
    background-image: url(images/castle.png);
    background-color: #75B15A;
}

#cloister {
    background-image: url(images/cloister.png);
    background-color: rgba(0,0,0,0.9);
}

/***INDEX.HTML > BUILDINGS***/
#watchtower {
    background-image: url(images/watchtower.png);
    background-color: #D2CC95;
}

#warehouse {
    background-image: url(images/warehouse.png);
    background-color: #D2CC95;
}

#boardhouse {
    background-image: url(images/boarding.png);
    background-color: #D2CC95;
}

#bank {
    background-image: url(images/bank.png);
    background-color: #D2CC95;
}

#market {
    background-image: url(images/market.png);
    background-color: #D2CC95;
}

#church {
    background-image: url(images/church.png);
    background-color: #D2CC95;
}

#carpenter {
    background-image: url(images/carpenter.png);
    background-color: #D2CC95;
}

#city-hall {
    background-image: url(images/city-hall.png);
    background-color: #D2CC95;
}

#park {
    background-image: url(images/park.png);
    background-color: #D2CC95;
}

#pleasure-garden {
    background-image: url(images/pleasure-garden.png);
    background-color: #D2CC95;
}

#monastaries {
    background-image: url(images/monastary.png);
    background-color: #BEBF8C;
}


/***INDEX.HTML > KNOWLEDGE***/
#k1 {
    background-image: url(images/k1.png);
    background-color: #E0D537; 
}

#k2 {
    background-image: url(images/k2.png);
    background-color: #E0D537; 
}

#k3 {
    background-image: url(images/k3.png);
    background-color: #E0D537; 
}

#k4 {
    background-image: url(images/k4.png);
    background-color: #E0D537; 
}

#k5 {
    background-image: url(images/k5.png);
    background-color: #E0D537; 
    }

#k6 {
    background-image: url(images/k6.png);
    background-color: #E0D537; 
}

#k7 {
    background-image: url(images/k7.png);
    background-color: #E0D537; 
}

#k8 {
    background-image: url(images/k8.png);
    background-color: #E0D537; 
}

#k9 {
    background-image: url(images/k9.png);
    background-color: #E0D537; 
}

#k10 {
    background-image: url(images/k10.png);
    background-color: #E0D537; 
}

#k11 {
    background-image: url(images/k11.png);
    background-color: #E0D537; 
}

#k12 {
    background-image: url(images/k12.png);
    background-color: #E0D537; 
}

#k13 {
    background-image: url(images/k13.png);
    background-color: #E0D537; 
}

#k14 {
    background-image: url(images/k14.png);
    background-color: #E0D537; 
}

#k15 {
    background-image: url(images/k15.png);
    background-color: #E0D537; 
}

#k16_23 {
    background-image: url(images/k16-23.png);
    background-color: #E0D537; 
}

#k24 {
    background-image: url(images/k24.png);
    background-color: #E0D537; 
}

#k25 {
    background-image: url(images/k25.png);
    background-color: #E0D537; 
}

#k26 {
    background-image: url(images/k26.png);
    background-color: #E0D537; 
}

#ke2a {
        background-image: url(images/ke2a.png);
        background-color: #E0D537; 
    }

#ke2b {
        background-image: url(images/ke2b.png);
        background-color: #E0D537; 
    }

#ke5 {
        background-image: url(images/ke5.png);
        background-color: #E0D537; 
    }

#pu-km-tile {
    background-color: #E0D537;
    margin-bottom: 20px;
}


/***INDEX.HTML > POPUPS***/
#pu-main, #pu-bgs, #pu-bs, #pu-wdr, #pu-pos, #pu-cs, #pu-mm, #pu-mm-s, #pu-mm-rr, #pu-ms, #pu-pe, #pu-re, #pu-si, #pu-w, #pu-sg, #pu-sh, #pu-c, #pu-b, #pu-bm, #pu-k, #pu-km, #pu-a, #pu-k, #pu-al, #pu-epl, #pu-eb, #pu-cr, #pu-ts {
    display: none;
}

.pu {
    margin-top: 20px;
}

.pu p {
    padding: 0 10px;
    margin: 0 0 20px 0;
}

.pu-flex-div {
    margin-top: 15px;
    max-width: 360px;
}

.pu-flex-div div {
    margin: 5px;
}

#pu-bm p, #pu-km p {
    font-size: 25px;
}

#pu-al {
    background-color: rgba(255,255,255,0.5);
}

#pu-epl {
    background-color: rgba(255,255,255,0.5);
}

#pu-al-h1 {
    margin-top: 20px;
}

#pu-al p {
    margin: 0;
}

#silver-for-workers {
    display: none;
}

.back-button-div {
    margin-top: 50px;
}

#wdr-p {
    margin: 20px 0;
    font-weight: bold;
    font-size: 25px;
}

/***BACKGROUND-COLORS***/
#black {
    background-color: #000000;
}

#red {
    background-color: #ff0000;
}

#green {
    background-color: #007E42;
}

#blue {
    background-color: #0068C2;
}

/***BACKGROUND-IMAGES***/
.first {
    background-image: url(images/1st.png);
}

.second {
    background-image: url(images/2nd.png);
}

.third {
    background-image: url(images/3rd.png);
}

.fourth {
    background-image: url(images/4th.png);
}

.zero {
    background-image: url(images/0.png);
}

.one {
    background-image: url(images/1.png);
}

.two {
    background-image: url(images/2.png);
}

.three {
    background-image: url(images/3.png);
}

.four {
    background-image: url(images/4.png);
}

.five {
    background-image: url(images/5.png);
}

.six {
    background-image: url(images/6.png);
}

.seven {
    background-image: url(images/7.png);
}

.eight {
    background-image: url(images/8.png);
}

.nine {
    background-image: url(images/9.png);
}

.ten {
    background-image: url(images/10.png);
}

.a {
    background-image: url(images/a.png);
}

.b {
    background-image: url(images/b.png);
}

.c {
    background-image: url(images/c.png);
}

.d {
    background-image: url(images/d.png);
}

.e {
    background-image: url(images/e.png);
}


/***SETUP.HTML***/
.setup-div {
    margin: 0 auto;
    max-width: 414px;
}

.setup-div li, .expansion-main-wrap li {
    font-size: 22px;
}


/***EXPANSION.HTML***/
.exp-main-wrap {
    margin: 0 auto;
    max-width: 414px;
    padding: 0 15px 0 15px;
}

.exp-main-wrap div {
    margin-bottom: 50px;
}

.exp-main-wrap li {
    font-size: 20px;
    text-align: left;
}


/***MEDIA QUERIES***/
@media screen and (max-width: 339px) {
    #pu-ts p {
        padding: 40px;
        margin: 0;
        font-size: 50px;
        font-family: black-chancery, serif;
        color: gold;
        text-shadow: 4px 4px 4px black;
    }
    
    #roll-1-div, #roll-2-div, #roll-3-div, .click-to-hide-div {
        height: 80px;
        width: 80px;
    }
    
    #phase-round-div {
        width: 40px;
    }
    
    .undo-button {
        width: 305px;
    }
    
    .tile-button, .tile-button-no-border {
        width: 90px;
        height: 90px;
    }    
    
    .number-button {
        width: 90px;
        height: 90px;
    }    
}



