html {
    background-image: url(images/background.jpg)
}

body {
    margin: 0;
    padding: 0;
}

.dice-div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#dice-1 {
    margin-top: 110px;
    margin-bottom: 50px;
}