/* FONTS */

@font-face {
    font-family: black-chancery;
    src: url(fonts/black-chancery.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(fonts/Tahoma.ttf);
}

/* GLOBAL ELEMENT STYLES */

*, *:before, *:after {
    box-sizing: border-box;
    //outline: 1px solid black;
}

html {
    background: url(images/background.jpg);
}

body {
    font-family: Tahoma, serif;
    margin: 0;
    padding: 20px 0;
}

div {
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: darkred;
    outline: none;
}

h2 {
    color: darkred;
    text-align: center;
}

li {
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: left;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

table { 
    margin: 20px auto 0;
}

th, td {
    padding: 10px;
}

th {
    background-color: darkred;
    color: white;
}

/* GLOBAL CLASS STYLES */

.black-chancery-h1 {
    font-family: black-chancery;
    margin: 0;
    text-align: center;
}

.button-1 {
    height: 50px;
    width: 100px;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    border: 2px solid black;
    font-size: 20px;
    color: darkred;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
    display: inline-block;
}

.button-2 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
}

.button-3 {
    display: inline-block;
    height: 50px;
    width: 175px;
    margin: 0 auto 20px auto;
    padding-top: 10px;
    border: 2px solid black;
    font-size: 20px;
    color: darkred;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}

/* GLOBAL INPUT */

input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* INDEX - BOARD */

.board-radio-flex-div {
    margin: 0 auto;
    max-width: 414px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.board-p {
    margin-bottom: 5px;
    font-size: 20px;
}

#B1-9, #B10a-h, #B13a-h, #B1-13h {
    margin: 0 auto;
}

#board-select-div {
    width: 100px;
    height: 100px;
    border: 1px dashed black;
    margin: 30px auto;
    background-image: url(images/tap-to-select.png);
    background-size: contain;
    cursor: pointer;
}

#board-select-p {
    font-size: 50px;
    font-weight: bold;
    margin-top: 17px;
}

/* INDEX - STARTING PLAYER */

#starting-player-roll-div {
    width: 100px;
    height: 100px;
    outline: 1px dashed black;
    margin: 20px auto;
    background-image: url(images/tap-to-roll.png);
    background-size: contain;
    cursor: pointer;
}

/* INDEX - DICE COLOR */

.choose-color-flex-div {
    max-width: 414px;
    margin: 40px auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* DICE - ROLL BUTTON FLEX DIV */

.roll-button-flex-div {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 25px;
    max-width: 414px;
}

.checkbox-div, .button-div {
    width: 300px;
    height: 70px;
}

.button-div img {
    cursor: pointer;
}

.check-here-p {
    font-size: 15px;
    margin: 5px 0 5px 0;
}

/* DICE - ROLLED DICE FLEX DIV */

.rolled-dice-flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 20px auto;
    max-width: 414px;;
}

.click-to-hide-div {
    margin: 10px;
    outline: 1px dashed gray;
    cursor: pointer;
}

#roll-1-div, #roll-2-div, #roll-3-div {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#roll-3-div {
    visibility: hidden;
    margin: 0;
}

/* DICE - PHASE-POINTS-ROUND FLEX DIV */

.phase-points-round-flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 414px;
    margin: 0 auto;
}

.phase-round-div p {
    font-family: black-chancery;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
}

#phase-span, #round-span {
    font-family: Tahoma, serif;
    font-weight: bold;
    font-size: 30px;
}

.latest-points-div {
    height: 20px;
}

#latest-points-div p {
    display: inline-block;
    height: 10px;
    margin: 0;
}

.total-points-div {
    width: 150px;
    margin: 0;
}

.player-p {
    margin-top: 0;
}

.point-control-div {
    max-width: 414px;
    margin: 10px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

#total-points {
    font-size: 85px;
    color: darkred;
    font-weight: bold;
}

.total-points-p {
    text-align: center;
    margin-top: 0;
}

.region-point-tap, .quick-point-tap {
    max-width: 414px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 20px auto;
}

.region-point-tap div {
    color: white;
    background-color: darkred;
    font-size: 50px;
    font-weight: bold;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    margin: 5px;
    padding-top: 2px;
    cursor: pointer;
}

.point-quickadd-div {
    max-width: 414px;
    margin: 10px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.point-quickadd-div div {
    margin: 5px;
}

#sell-goods, #watchtower, #animals, #monastaries, #large-bonus, #small-bonus, #unsold-goods, #silverlings, #workers, #know15, #know16-23, #know24, #know25, #know26 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sell-goods {
    background-image: url(images/sell-goods.jpg);
    background-color: #D2CC95;
}


#watchtower {
    background-image: url(images/watchtower.png);
    background-color: #D2CC95;
}

#animals {
    background-image: url(images/animals.png);
    background-color: #BEE53D;
}

#large-bonus {
    background-image: url(images/large-bonus.jpg);
}

#small-bonus {
    background-image: url(images/small-bonus.png);
    background-color: #BABDB8;
}

#unsold-goods {
    background-image: url(images/unsold-goods.jpg);
}

#silverlings {
    background-image: url(images/silverling.png);
    background-color: #C6B4B1;
}

#workers {
    background-image: url(images/worker.jpg);
}

#know15 {
    background-image: url(images/knowledge-tiles-15.png);
    background-color: #E0D537;
}

#know16-23 {
    background-image: url(images/knowledge-tiles-16-23.png);
    background-color: #E0D537;
}

#know24 {
    background-image: url(images/knowledge-tiles-24.png);
    background-color: #E0D537;
}

#know25 {
    background-image: url(images/knowledge-tiles-25.png);
    background-color: #E0D537;
}

#know26 {
    background-image: url(images/knowledge-tiles-26.png);
    background-color: #E0D537;
}

#monastaries {
    background-image: url(images/monastary.png);
    background-color: #BEBF8C;
}

.knowledge-tile-flex-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    max-width: 414px;
}

#activity-log p {
    margin: 0;
}

/* BONUS */

#bonus-html {
    background: url(images/background2.jpg);
}

.bonus-h1 {
    color: gold;
    font-family: black-chancery;
    text-align: center;
    font-size: 75px;
    margin: 20px 0;
    text-shadow: 3px 3px 5px black;
}

.bonus-description-div {
    max-width: 300px;
    margin: 0 auto;
    font-size: 30px;
}

#bonus-description {
    background-color: rgba(127, 0, 127, 0.5);
    color: gold;
    padding: 20px;
    border: 10px ridge gold;
    text-shadow: 1px 1px 5px black;
    border-style: 
}

/* SETUP GUIDE */

.setup-div {
    margin: 0 auto;
    max-width: 414px;
}

.setup-div li, .expansion-main-wrap li {
    font-size: 22px;
}

/* EXPANSION RULES */

.exp-main-wrap {
    margin: 0 auto;
    max-width: 414px;
    padding: 0 15px 0 15px;
}

.exp-main-wrap div {
    margin-bottom: 50px;
}

.exp-main-wrap li {
    font-size: 20px;
    text-align: left;
}