input, a, div, p, img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    box-sizing: border-box;
}

html {
    background-image: url(images/background.jpg);
}

body {
    margin: 0;
}

div {
    margin: 0 auto;
}

#subtract {
    float: left;
    position: relative;
    top: 75px;
}

#add {
    float: right;
    position: relative;
    top: 75px;
}

table {
    margin: 0 auto;
}

tr {
    border: 2px solid black;
}

td {
    height: 23vh;
    width: 23vh;
    border: 5px solid black;
    text-align: center;
    font-size: 70px;
    color: white;
}

#blue-0, #red-0, #green-0, #yellow-0 {
    background-color: #8F6C41;
    background-image: url(images/empty.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
}

#blue-1, #blue-2, #blue-3, #blue-4, #blue-5 {
    background-color: #3573BC;
    background-image: url(images/blue.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#red-1, #red-2, #red-3, #red-4, #red-5 {
    background-color: #AE172E;
    background-image: url(images/red.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#green-1, #green-2, #green-3, #green-4, #green-5 {
    background-color: #5D8103;
    background-image: url(images/green.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#yellow-1, #yellow-2, #yellow-3, #yellow-4, #yellow-5 {
    background-color: #DFC620;
    background-image: url(images/yellow.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ext-1, .ext-2, .ext-3 {
    display: none;
}

#dice-wrapper {
    display: table;
    margin: 0 auto;
}

.dice-div {
    width: 100px;
    height: 100px;
    margin: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}