@font-face {
    font-family: theminion;
    src: url(theminion.otf);
}

html {
    background-color: dodgerblue;
    font-family: Tahoma, sans-serif;
}

body {
    margin: 0;
}

div {
    text-align: center;
}

.header-div {
    background-color: rgba(255,255,255,0.5);
}

header {
    font-size: 100px;
    font-family: theminion;
    padding: 10px 0 20px;
    width: 100%;
}

#winner-button {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: red;
    color: white;
    position: relative;
    box-shadow: 3px 3px 4px black;
    margin-top: 50px;
}

#reset-button:hover {
    bottom: 1px;
    cursor: pointer;
    border: 2px solid white;
}

#reset-button:active {
    top: 1px;
}

#reset-button {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: darkslateblue;
    color: white;
    position: relative;
    box-shadow: 3px 3px 4px black;
    margin-top: 50px;
}

#winner-button:hover {
    bottom: 1px;
    cursor: pointer;
    border: 2px solid black;
}

#winner-button:active {
    top: 1px;
}

.winner-div {
    margin-top: 100px;
    padding: 0;
}

.winner-div p {
    font-size: 150px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.white {
    color: white;
}

.picked-div {
    margin-top: 50px;
}

.picked-div p {
    font-size: 17px;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 1163px) {
    header {
        font-size: 50px;
    } 
}
    
@media screen and (max-width: 800px) {
    .winner-div p {
        font-size: 50px;
    }
}

@media screen and (max-width: 581px) {
    header {
        font-size: 30px;
    }
}
    
@media screen and (max-width: 348px) {
    #winner-button, #reset-button {
        font-size: 20px;
    }   
}

@media screen and (max-width: 167px) {
    #winner-button, #reset-button {
        font-size: 15px;
    }   
}

@media screen and (max-height: 736px) {
    .winner-div {
        margin-top: 50px;
        padding: 0;
    } 
}