@font-face {
    font-family: black-chancery;
    src: url(fonts/black-chancery.ttf);
}

*, *:before, *:after {
    box-sizing: border-box;
    //outline: 1px solid green;
}

input, a, div, p, img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    background-color: #000000;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Courier New", monospace;
    //font-weight: bold;
    font-size: 30px;
    color: white;
}

div {
    text-align: center;
    margin: 0 auto;
}

p {
    margin: 5px;
}

.W32, .W33, .W34, .W35, .W36, .W37, .W38, .W41, .W42, .W43, .W44, .W45, .W46, .W47, .W48 {
    display: none;
}

/* week reset
.W11, .W12, .W13, .W14, .W15, .W16, .W17, .W18, .W19, .W21, .W22, .W23, .W24, .W25, .W26, .W27, .W28, .W31, .W32, .W33, .W34, .W35, .W36, .W37, .W38, .W41, .W42, .W43, .W44, .W45, .W46, .W47, .W48 {
    display: none;
}
*/

#master-wrapper {
    width: 414px;
    height: 736px;
}

.pop {
    padding: 20px;
}

#dispInsig {
    height: 150px;
    width: 150px;
    margin: 25px auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.button, .backButton, #nameList p, .asmvButton, .numberButton, #dispPts {
    cursor: pointer;
}

.button {
    height: 50px;
    width: 250px;
    padding-top: 5px;
    border: 2px solid white;
}

.backButton {
    height: 50px;
    width: 250px;
    font-size: 27px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 20px;
    border: 2px solid white;
}

#popButtons div {
    margin: 10px auto;
}

#studentPop, #missions {
    display: none;
}

#search {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

#nameList {
    margin: 25px auto;
}

#nameList p {
    margin: 10px;
}

.asmvButton {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    font-size: 20px;
    padding-top: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.numberButton {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    font-size: 90px;
    font-weight: bold;
}



.asmvButtonFill {
    height: 100px;
    width: 100px;
    border: 1px solid transparent;
}

#asPop div, #mvPop div {
    margin: 15px auto;
}

#asPointsPop div, #mvPointsPop div {
    margin: 15px auto;
}

#asPop {
    width: 187px;
    float: left;
}

#mvPop {
    width: 187px;
    float: right;    
}

#missionsPop, #mvPointsPop, #asPointsPop, #promoPop, #backupPop, #promoListPop, #attListPop, #wtlPop, #mainMenuPop, #drawingPop {
    display: none;
}

#promoPop p {
    font-size: 50px;
}

#dispInsigPromo {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#backupArray {
    font-size: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#topMenu {
    margin-bottom: 20px;
}

#attendanceCheck {
    //display: inline;
}

#attCount {
    font-size: 30px;
}

#popButtons {
    margin-top: 30px;
}

#popButtons div {
    margin: 20px auto;
}

#mvText {
    margin-top: 20px;
    font-size: 30px;
}

.buttonArr div {
    margin: 20px auto;
}

#winner {
    margin: 150px auto;
    font-size: 75px;
    font-weight: bold;
}