@font-face {
    font-family: army;
    src: url(../fonts/army.ttf);
}

@font-face {
    font-family: army2;
    src: url(../fonts/army2.ttf);
}

html {
    background: url("../images/home-background-1b.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
}

header {
    font-family: army2, army, Impact;
    font-size: 100px;
    text-align: center;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    border-radius: 30px;
    padding: 10px 20px;
}

a:hover .non-index-header {
    background-color: rgba(255,255,255,0.6);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
}

.nav div {
    background-color: black;
    text-align: center;
    width: 300px;
    border: 3px solid silver;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    opacity: 0.9;
}

.nav div:hover {
    border: 3px solid white;
    bottom: 2.5px;
}

.nav a:active div {
    top: 1px;
}

.nav h1 {
    color: white;
}

.nav img {
    display: block;
}

.contact {
    display: inline-block;
    margin-top: 60px;
    background-color: black;
    text-align: center;
    width: 100px;
    height: 50px;
    border: 2px solid silver;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    opacity: 0.9;
}

.contact:hover {
    border: 3px solid white;
    bottom: 2.5px;
}

a:active .contact {
    top: 1px;
}

/* missions.html styles */

.mt-wrapper {
    margin-top: 20px;
}

.mt-mobile, .mt-mobile-wrapper br {
    display: none;
}

.mt-mobile-pre {
    display: none;
}

#table-note {
    padding: 5px;
}

.mt, .mt-mobile, .mt-full-size {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

.mt-mobile {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid black;
    border-collapse: collapse;
}

.mt-mobile td {
    width: 200px;
}

.mt th, .mt tr, .mt td, .mt-mobile th, .mt-mobile tr, .mt-mobile td, .mt-full-size th, .mt-full-size tr, .mt-full-size td {
    border: 2px solid black;
    padding: 20px;
}

.mt th, .mt-mobile th, .mt-full-size th {
    background-color: rgba(51,51,51,0.7);
    color: white;
    font-size: 20px;
}

.col-1, .col-6 {
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.col-2, .col-3, .col-4, .col-5 {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.download {
    background-color: #195CB8;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

.download:hover {
    border: 2px solid #333;
    bottom: 1px;
}

.download:active {
    top: 1px;
}

.watch {
    background-color: #FE021C;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

.watch:hover {
    border: 2px solid #333;
    bottom: 1px;
}

.watch:active {
    top: 1px;
}

#mt-mobile-mssg {
    background-color: #333;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
}

.links2-3, .links2-4, .links2-5, .links2-6, .links2-7, .links2-8, .links3-1, .links3-2, .links3-3, .links3-4, .links3-5, .links3-6, .links3-7, .links3-8, .links4-1, .links4-2, .links4-3, .links4-4, .links4-5, .links4-6, .links4-7, .links4-8 {
    display: none;
}

/* link-hide reset
.links1-2, .links1-3, .links1-4, .links1-5, .links1-6, .links1-7, .links1-8, .links1-9, .links2-1, .links2-2, .links2-3, .links2-4, .links2-5, .links2-6, .links2-7, .links2-8, .links3-1, .links3-2, .links3-3, .links3-4, .links3-5, .links3-6, .links3-7, .links3-8, .links4-1, .links4-2, .links4-3, .links4-4, .links4-5, .links4-6, .links4-7, .links4-8 {
    display: none;
}
*/

/* calendar.html, ranks.html, and handbook.html styles */

.doc-div {
    margin: 0;
    display: inline-block;
}

.doc-div img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.doc-download {
    text-align: center;
    margin: 20px;
}

/* media queries */

@media screen and (max-width: 1875px) {
    .nav {
        margin-top: 50px;
    }  
    
    header {
        font-size: 75px;
    }
}

@media screen and (max-width: 1419px) {
    header {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .nav div {
        width: 200px;
    }
    
    header {
        font-size: 50px;
    }
    
    .missions img, .calendar img, .ranks img, .handbook img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 736px) {  
    html {
        background-color: black;
    }
    
@media screen and (max-width: 735px) {
    .mt {
        display: none;
    }
    
    .mt-mobile {
        display: inline-block;
    }
    
    .mt-mobile-pre {
        display: block;
    }
    
    .mt-mobile-wrapper br {
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 30px;
    }
}