@font-face {
    font-family: Tahoma;
    src: url(fonts/Tahoma.ttf);
}

@font-face {
    font-family: Font-90-Icons;
    src: url(fonts/Font-90-Icons.ttf);
}

@font-face {
    font-family: Byom-Icons-Trial;
    src: url(fonts/Byom-Icons-Trial.ttf);
}

* {
    box-sizing: border-box;
    /* border: 1px solid green; */
};

html {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, serif;
    font-size: 30px;
    color: white;
    background-color: black;
}

input, textarea {
    font-size: 20px;
}

#master-wrapper {
    width: 428px;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#log p, #promoList p, #bdayList p, #notesList p, #teacherNotesList p {
    margin-top: 20px !important;
}

#log, #gameLog {
    text-align: left;
}

#nameList2 {
    height: 200px;
    margin-top: 20px !important;
    overflow-y: auto;
}

#nameList {
    height: 600px;
    margin-top: 20px !important;
    overflow-y: auto;
    background-color: #222;
    border: 2px solid #444;
    padding-top: 20px;
    border-radius: 25px;
}

#missionCheckBoxDiv {
    height: 575px;
    overflow-y: auto;
    text-align: left;
}

#attendance2Pop {
    border-bottom: 2px solid white;
    background-color: #222;
}

#alertsPop, #asReasonContainer, #studentPhotoPop, #studentStatsPop, #teamListContainer, #sortChoicePop, #sortByPop, #gameLogPop, #preloadImagesPop, #dataInputAlertPop, #enterReasonDiv, #teamsListPop, #playGamePop, #asPage3, #attendance2Pop, #actionAlertPop, #advancedOptionsPop, #infoAlertPop, #resetDrawingPop, #addTeacherNotePop, #addNotePop, #modifyTeacherNotesPop, #teacherNotesPop, #customSortListPop, #editStudentPop, #newStudentPop, #emailPop, #editNotePop, #editTeacherNotePop, #modifyNotesPop, #notesPop, #bdayPop, #missionVisibilityPop, #logPop, #missionsPop, #mvPointsPop, #asPointsPop, #promoPop, #backupPop, #promoListPop, #attendanceListPop, #wtlPop, #mainMenuPop, #drawingPop, #randomPop, #studentPop, .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09, .w10, .w11, .w12, .w13, .w14, .w15, .w16, .w17, .w18, .w19, .w20, .w21, .w22, .w23, .w24, .w25, .w26, .w27, .w28, .w29, .w30, .w31, .w32, .w33 {
    display: none;
}

#absentPromotion, #absentBday {
    margin-top: 20px !important;
    color: darkorange;
}

#promoListAbsent p, #bdayListAbsent p {
    color: gray;
}

.pop {
    padding: 20px;
}

#dispBday {
    font-size: 18px;
}

#dispName {
    font-size: 40px;
    margin: 20px auto;
}

.name {
    cursor: pointer;
}

#advancedOptionsPop, #missionVisibilityPop {
    text-align: left;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.checkboxLabel {
    font-size: 22px;
}

.roundButton {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
}

.secretButton {
    height: 50px;
    width: 50px;
    margin: 0px;
    position: absolute;
}

.addButton {
    font-family: Font-90-Icons;
    font-weight: bolder;
    padding-top: 9px;
    background-color: green;
}

.button {
    height: 50px;
    width: 250px;
    padding-top: 3px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 20px auto;
    cursor: pointer;
}

#mainMenuButton {
    font-family: Byom-Icons-Trial;
    padding-top: 8px;
}

#advancedOptionsButton {
    padding-top: 9px;
    font-family: Font-90-Icons;
}

#alertButton {
    padding-top: 9px;
    padding-right: 1px;
    font-family: Font-90-Icons;
}

#attendanceCountButton {
    padding-top: 6px;
}

.deleteButton {
    background-color: firebrick;
}

#confirmDeleteStudentButton, #confirmDeleteNoteButton, #confirmDeleteTeacherNoteButton, #confirmResetDrawingButton {
    background-color: firebrick;
    display: none;
}

#search, #search2, #searchLog {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

#nameList, #nameList2 {
    margin: 0px auto;
}

.asmvHeader {
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

.asButton, .asButton2, .asButton3, .mvButton3, .mvButton4 {
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 25px;
}

.asButton, .asButton2, .asButton3, .mvButton3, .mvButton4 {
    padding-left: 10px;
    padding-right: 10px;
}

.asButton, .asButton2, .asButton3 {
    font-size: 30px;
}

.mvButton3, .mvButton4 {
    font-size: 25px;
}

.asButton {
    padding-top: 50px;
}

.asButton2 {
    padding-top: 35px;
}

.asButton3 {
    padding-top: 18px;
}

.mvButton3 {
    padding-top: 26px;
}

.mvButton4 {
    padding-top: 13px;
}

.pointButtonContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.numberButton {
    font-size: 40px;
    margin: 0px 5px;
    padding-top: 1px;
    line-height: 1;
}

.gamePointButton {
    border-radius: 25px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    padding-top: 7px;
    font-size: 60px;
    line-height: 1;
    margin: 10px;
}

.gameUndoButton {
    border-radius: 25px;
    height: 80px;
    width: 80px;
    padding-top: 13px;
    line-height: 1;
    margin: 10px;
    border: 2px solid white;
    font-weight: bold;
    font-family: Font-90-Icons;
    color: white;
    background-color: #333;
    font-size: 45px;
}

.gameLogButton {
    border-radius: 25px;
    height: 80px;
    width: 80px;
    padding-top: 16px;
    line-height: 1;
    margin: 10px;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: #333;
    font-size: 35px;
}


.asmvButtonFill {
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
}

#asPop div, #mvPop div {
    margin: 25px auto;
}

#asPop {
    width: 187px;
    float: left;
}

#mvPop {
    width: 187px;
    float: right;    
}

#infoAlertTitle {
    color: red;
    font-family: Byom-Icons-Trial;
    font-size: 75px;
    margin: 30px auto;
}

#promoPop p {
    font-size: 50px;
}

#backupArrays {
    font-size: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#topMenu {
    margin-bottom: 20px;
}

#attendanceCount {
    font-size: 50px;
    margin: 0px;
}

#popButtons div {
    margin: 10px auto;
}

#mvText {
    margin-top: 20px;
    font-size: 30px;
}

.buttonArr div {
    margin: 0px auto 20px;
}

.randomName {
    margin: 150px auto;
    font-size: 75px;
    font-weight: bold;    
}

#longVerse {
    display: none;
}

#studentPop {
    padding-bottom: 0;
}

#attendanceButtonContainer {
    margin-bottom: 20px;;
}

#penContainer {
    height: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.notesListHeader {
    margin: 0px;
    font-size: 18px;
    color: orange;
}

#boysListAttendanceP, #girlsListAttendanceP, #team1ListP, #team2ListP {
    margin: 20px 0px 0px 0px;
    color: lawngreen;
}

.genderAndBdayContainer {
    height: 50px;
    margin: 10px 7px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.studentPopButtons {
    border-radius: 10px;
    height: 30px;
    width: 115px;
    border: 1px solid white;
    margin-bottom: 25px;
    font-size: 20px;
}

#topMenuContainer {
    width: 325px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.optionButtonContainer {
    width: 300px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}

.navigationButtonContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.lowerNavigationButtonContainer {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.backButton, .homeButton {
    border-radius: 25px;
    height: 50px;
    width: 115px;
    border: 2px solid white;
    font-weight: bold;
    font-family: Font-90-Icons;
    color: white;
    background-color: #333;
    font-size: 35px;
}

.textNavigationButton {
    border-radius: 25px;
    height: 50px;
    width: 115px;
    border: 2px solid white;
    background-color: black;
    font-weight: bold;
    font-family: Tahoma;
    color: white;
    background-color: #333;
    font-size: 30px;
    padding-top: 3px;
}

.backButton {
    padding-top: 3px;
    cursor: pointer;
}

.homeButton {
    padding-top: 2px;
    cursor: pointer;
}

.name {
    margin: 0px 0px 20px;
}

.name2 {
    margin: 10px auto;
    font-size: 20px;
}

.name3 {
    margin: 10px auto;
    font-size: 25px;
    text-align: left;
}

#teamListContainer, #genderListContainer, #attendanceListContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#gamePointButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

#team1ListDiv, #team2ListDiv, #boysListAttendanceDiv, #girlsListAttendanceDiv{
    width: 190px;
}

#team1ListDiv, #boysListDiv {
    padding-left: 10px;
    word-wrap: break-word;
}

#team2ListDiv, #girlsListDiv {
    padding-right: 10px;
    word-wrap: break-word;
}

#teamPointsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#team1Score, #team2Score {
    height: 100px;
    width: 150px;
    border: 3px solid #555;
    color: black;
    font-size: 75px;
    line-height: 1;
    border-radius: 25px;
    padding-top: 8px;
    font-weight: bolder;
}

#dataInputTextField {
    height: 100px;
    width: 150px;
    border: 3px solid #555;
    color: black;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    border-radius: 25px;
    padding-top: 7px;
    margin-bottom: 20px;
}

#enterReasonDiv p {
    font-size: 15px;
}

#teamPointsContainer p {
    margin: 5px auto;
}

#nextPlayer {
    margin: 15px auto;
    font-size: 20px;
}

.cancelButton {
    background-color: firebrick;
    font-family: Byom-Icons-Trial;
    font-size: 35px;
    padding-top: 3.5px;
}

.okButton {
    background-color: green;
    font-family: Byom-Icons-Trial;
    padding-top: 3.5px;
    font-size: 35px;
}

.deleteButton {
    background-color: firebrick;
    font-family: Byom-Icons-Trial;
    font-size: 25px;
    padding-top: 8px;
}

.logEntry {
    margin-top: 20px !important;
    font-size: 15px !important;
}

.note {
    font-size: 20px;
    cursor: pointer;
}

#todaysDate {
    font-size: 12px !important;
}

#enterReasonTextField, #addNote, #editNote, #addTeacherNote, #editTeacherNote {
    width: 375px;
    height: 150px;
    font-size: 20px;
    resize: none;
}

#initialNote {
    width: 375px;
    height: 150px;
    font-size: 20px;
    resize: none;
    margin: 10px 0px;
}

#notesList, #teacherNotesList {
    text-align: left !important;
}

#email1, #email2 {
    height: 35px;
    width: 300px;
    font-size: 20px;
}

.textInputField1 {
    height: 35px;
    width: 375px;
    font-size: 20px;
    margin: 10px auto;
}

.textInputField2 {
    height: 35px;
    width: 150px;
    font-size: 20px;
}

#newStudentPop p, #editStudentPop p {
    font-size: 16px;
    margin-top: 20px;
}

#newStudentPop input, #editStudentPop input {
    text-align: left;
    margin-left: 0 !important;
}

#asPage1, #asPage2, #asPage3 {
    width: 297.5px;
    height: 385px;
    border: 1px solid white;
}

#asPage1, #asPage2, #asPage3 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#asPage1, #asPage2 {
    margin-bottom: 10px;
}

#newFirstAndLast, #newGender, #newBday, #editFirstAndLast, #editGender, #editBday{
    text-align: center !important;
}

#randomFilter {
    text-align: left;
}

.radioButton {
    height: 25px !important;
    width: 25px !important;
    margin: 10px auto;
}

#promoInsignia {
    width: 350px;
    height: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.preloadRankImageDiv {
    width: 350px;
    height: 350px;
    border: 1px solid white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.preloadAsImageDiv {
    width: 297.5px;
    height: 385px;
    border: 1px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

#currentPlayer {
    margin: 15px auto;
    font-size: 20px;
}

.progressBarTable{
    border: 1px solid white;
    border-spacing: 1px;
}

.progressBarTable td {
    height: 9.5px;
    width: 9.5px;
}

#studentStatsInsignia {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

#studentStatsName {
    width: 200px;
    height: 150px;
}

#studentStatsName p {
    text-align: center !important;
}

#studentStatsPop p {
    font-size: 18px;
    text-align: left;
}

#rankProgressTableP, #asProgressTableP, #mvProgressTableP, #attendanceProgressTableP, #totalProgressTableP {
    margin-top: 40px;
    margin-bottom: 5px;
}

#studentStatsTopContainerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#preloadImagesContainer {
    height: 575px;
    overflow-y: scroll;
}

#dispStudentPhoto {
    width: 375px;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

#asReason {
    font-size: 20px;
    margin: 20px auto;
    color: orange;
}