@font-face {
    font-family: Tahoma;
    src: url(../fonts/Tahoma.ttf);
}

@font-face {
    font-family: Font-90-Icons;
    src: url(../fonts/Font-90-Icons.ttf);
}

@font-face {
    font-family: Byom-Icons-Trial;
    src: url(../fonts/Byom-Icons-Trial.ttf);
}

* {
    box-sizing: border-box;
    /* border: 1px solid green; */
};

html {
    background-color: #111;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Tahoma, serif;
    color: white;
    background-color: #111;
}

input, textarea {
    font-size: 25px;
}

#master-wrapper {
    width: 428px;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 25px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

*::-webkit-scrollbar { width: 0 !important }

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

#studentStatsPop, #infoAlertPop, #rankChartPop, #openInsigniaPop, #missionsPop, #mvPointsPop, #asPointsPop {
    display: none;
}

#log p, #promoList p, #bdayList p, #notesList p, #teacherNotesList p {
    margin-top: 20px !important;
}

.pop {
    padding: 20px;
}

.name {
    cursor: pointer;
}

.roundButton {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: black;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
}

.button {
    height: 50px;
    width: 250px;
    font-size: 30px;
    padding-top: 3px;
    border: 2px solid white;
    background-color: black;
    border-radius: 25px;
    margin: 20px auto;
    cursor: pointer;
}

#submitButton {
    background-color: dodgerblue;
    margin-top: 25px;
}

#submitButton:hover {
    background-color: #0077eb;
    margin-bottom: 40px;
}

#search {
    height: 50px;
    width: 384px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    margin: 20px auto;
}

::placeholder {
    font-size: 20px;
    color: #aaa
}

#nameList, #nameList2 {
    margin: 0px auto;
}

.asmvHeader {
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 0px;
}

.asButton, .mvButton {
    height: 40px;
    width: 150px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 7px;
    font-size: 20px;
}

.pointButtonContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.numberButton {
    font-size: 40px;
    margin: 0px 5px;
    padding-top: 1px;
    line-height: 1;
    background-color: black;
    cursor: default !important;
}

.asmvButtonFill {
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
}

#asPop div, #mvPop div {
    margin: 25px auto;
}

#asmvPopContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#asmvHeaderContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#asPop, #mvPop {
    width: 187px;
}

#infoAlertTitle {
    color: red;
    font-family: Byom-Icons-Trial;
    font-size: 75px;
    margin: 30px auto;
}

#mvText {
    margin-top: 20px;
    font-size: 25px;
    background-color: black;
    border: 2px solid #222;
    border-radius: 25px;
    padding: 10px;
    color: #eee;
    cursor: pointer;
}

#missionsPop {
    height: 168px;
}

#asPointsPop, #mvPointsPop {
    padding-top: 0px;
}

.optionButtonContainer {
    width: 300px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}

.navigationButtonContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.lowerNavigationButtonContainer {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.backButton, .homeButton {
    border-radius: 25px;
    height: 50px;
    width: 115px;
    border: 2px solid white;
    font-weight: bold;
    font-family: Font-90-Icons;
    color: white;
    background-color: #333;
    font-size: 35px;
}

.backButton {
    padding-top: 3px;
    cursor: pointer;
}

.homeButton {
    padding-top: 2px;
    cursor: pointer;
}

.name {
    font-size: 30px;
    margin: 0px 0px 20px;
    padding: 5px;
    color: lightgreen;
}

.name:hover {
    border-radius: 25px;
    background-color: hsla(0, 0%, 100%, 0.1);
}

#asPage1, #asPage2, #asPage3 {
    width: 297.5px;
    height: 385px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
}

#asPage1, #asPage2 {
    margin-bottom: 10px;
}

.radioButton {
    height: 25px !important;
    width: 25px !important;
    margin: 10px auto;
}

#displayInsignia {
    width: 350px;
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
}

.progressBarTable{
    border: 1px solid white;
    border-spacing: 1px;
}

.progressBarTable td {
    height: 9.5px;
    width: 9.5px;
}

#rankChartTable {
    width: 100%
}

#rankChartTable, #rankChartTable th, #rankChartTable td {
    border: 1px solid white;
    border-spacing: 1px;
    border-collapse: collapse;
}

#rankChartTable td {
    height: 90px;
    width: 90px;
}

#rankChartTable th, #rankChartTable td {
    font-size: 15px;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#studentStatsInsignia {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
    cursor: pointer;
}

#studentStatsName {
    width: 200px;
    height: 150px;
}

#studentStatsName p {
    text-align: center !important;
}

#studentStatsPop p {
    font-size: 18px;
    text-align: left;
}

#rankProgressTableP, #totalProgressTableP, #asProgressTableP, #mvProgressTableP, #attendanceProgressTableP, #totalParticipationTableP {
    margin-top: 39px;
    margin-bottom: 5px;
}

#studentStatsTopContainerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#asReason {
    font-size: 20px;
    margin: 20px auto;
    color: orange;
}

#rankChartPop p {
    font-size: 15px;
}

.scrollingContainer {
    height: 600px;
    overflow-y: scroll;
}

#missionsTitleDiv {
    font-size: 30px;
    margin-bottom: 20px;
}

.checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.checkboxLabel {
    font-size: 18px;
    color: orange;
}