@font-face {
    font-family: Tahoma;
    src: url(../fonts/Tahoma.ttf);
}

@font-face {
    font-family: Font-90-Icons;
    src: url(../fonts/Font-90-Icons.ttf);
}

@font-face {
    font-family: Byom-Icons-Trial;
    src: url(../fonts/Byom-Icons-Trial.ttf);
}

@font-face {
    font-family: MobileIcons;
    src: url(../fonts/MobileIcons.ttf);
}

* {
    box-sizing: border-box;
    /* border: 1px solid green; */
};

html {
    background-color: #111;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: Tahoma, serif;
    color: white;
    background-color: #111;
}

input {
    font-size: 20px;
    height: 40px;
}

.master-wrapper {
    width: 428px;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 1.5;
}

a:link, a:visited {
    color: white;
    text-decoration: underline; 
}

a:active, a:hover {
    color: #ddd;
}

::placeholder {
    font-size: 20px;
    color: #aaa
}

*::-webkit-scrollbar { width: 0 !important }

#currentMissionsPop, #alertPop, #initialMissionsNote, #tpPop, #asPointsPop, #mvPointsPop, #participationPop, #resourcesPop, #calendarPop, #studentAttStatsPop, #rankChartPop, #studentStatsPop, #infoAlertPop, #missionsPop, #mvPtsPop, #asPtsPop, #promoPop, #studentPop, #missionsPop2, #helpPop, #currentMissionsPop2 {
    display: none;
}

.lb {
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left: 10px;
}

.lbTitle {
    font-size: 20px;
    margin: 20px auto;
    color: #3478F6;
    text-align: center !important;
}

.ptr {
    cursor: pointer;
}

#nameList {
    margin: 30px auto;
}

.pop {
    padding: 20px;
}

#studentStatsPop, #missionsPop, #calendarPop, #resourcesPop {
    padding-top: 40px;
}

.popText {
    text-align: left;
    color: #eee;
}

.lg {
    color: lawngreen !important;
}

.do {
    color: darkorange !important;
}

.asmvHeader {
    margin-top: 5px;
    padding-top: 0px;
}

.asButton, .mvButton {
    height: 50px;
    width: 180px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.asButton:hover, .mvButton:hover {
    border: 1.5px solid white;
}

.asButton {
    padding-top: 15px;
}

.mvButton {
    padding-top: 5px;
}

#asPop div, #mvPop div, #asPop2 div, #mvPop2 div {
    margin: 14px auto;
}

#asmvPopContainer, #asmvPopContainer2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#asmvHeaderContainer, #asmvHeaderContainer2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#asPop, #mvPop, #asPop2, #mvPop2 {
    width: 187px;
}

#infoAlertTitle {
    color: red;
    font-family: Byom-Icons-Trial;
    font-size: 75px;
    margin: 30px auto;
}

#studentPop {
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: sticky;
    top: 0px;
    background-color: #111;
}

.note {
    /* color: orange !important; */
    text-align: center !important;
}

.navigationButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.okButton, .backButton, .homeButton {
    border-radius: 10px;
    height: 28px;
    width: 175px;
    border: 2px solid #999;
    color: #BBB;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
}

.backButton, .homeButton {
    font-family: Font-90-Icons;
}

.okButton:hover, .backButton:hover, .homeButton:hover {
    color: white;
    border: 1px solid white;
}

.name {
    margin: 0px 0px 30px;
    color: lawngreen;
    font-size: 30px;
}

.name:hover {
    color: limegreen;
}

.name3 {
    margin: 10px auto;
    font-size: 20px;
    text-align: left;
}

.sortValues {
    margin: 0px 0px 20px 0px;
    color: #bbb;
    font-size: 20px !important;
}

.searchField:focus {
    outline: none;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;
}

.progressBarTable {
    border: 1px solid #ddd;
    border-spacing: 1px;
}

.progressBarTable td {
    height: 19px;
    width: 9.5px;
}

#rankProgressTable {
    border: 1px solid #ddd;
    border-spacing: 1px;
}

#rankProgressTable td {
    height: 50px;
    width: 38px;
}

#calendarTable, .asmvInfoTable, #rankChartTable, #studentAttTable, #studentMenuTable, #mainTable {
    width: 100%
}

.tableHeaderRow {
    border: 1px solid #ddd !important;
    border-collapse: collapse !important;
    background-color: black !important;
}

#calendarTable, #calendarTable td, #studentMenuTable, #studentMenuTable td, #mainTable, #mainTable td, .asmvInfoTable, .asmvInfoTable td, #rankChartTable, #rankChartTable td, #studentAttTable, #studentAttTable td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: black;
}

#studentAttTable td {
    height: 40px;
    font-size: 20px;
}

@media (hover: hover) {
    #studentMenuTable tr td:hover, #mainTable tr td:hover {
        color: #ddd;
    }
}

#studentStatsPop div table:hover {
    border: 1px solid white;
}

#calendarTable td {
    height: 40px;
    font-size: 15px;
}

#rankChartTable td {
    height: 90px;
    width: 76.4px;
}

.tableHeaderRow td {
    background-color: #3478F6 !important;
    height: 35px !important;
}

#rankChartTable th, #rankChartTable td {
    font-size: 15px;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#studentStatsPop p {
    text-align: left;
}

#rankProgressTableP, #tpTableP, #asProgressTableP, #mvProgressTableP, #attProgressTableP, #participationTableP {
    margin-top: 25px;
    margin-bottom: 5px;
}

#studentPopContainerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.asmvInfoTable {
    font-size: 18px;
    margin-top: 20px;
}

.asmvInfoTable td {
    padding: 5px;
    width: 50%;
    height: 40px;
}

.tableSider {
    background-color: #333 !important;
}

.downloadOrPrint, #scannedImage {
    font-size: 25px;
    background-color: #3478F6 !important;
}

.scanIcon {
    font-family: Byom-Icons-Trial;
}

.downloadIcon {
    font-family: Font-90-Icons;
}

@media (hover: hover) {
    #scannedImage:hover, .downloadOrPrint:hover {
        background-color: #094fd3 !important;
    }
}

#mvText {
    text-align: left;
    padding: 10px;
    color: #FFE599;
}

#studentPopInsignia {
    width: 150px;
    height: 163.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
}

#studentPopInfo {
    width: 200px;
    min-height: 150px;
}

#studentPopInfo p {
    text-align: center !important;
}

#studentPopRankName {
    margin: 10px 0px 0px 0px;
    color: #ddd;
}

#studentPopName {
    margin: 7px auto;
    /* color: lawngreen; */
}

#studentPopPIN {
    margin: 0px auto;
    color: #ddd;
}

#studentPopPts {
    font-size: 50px;
    margin: 0px auto 0px auto;
    color: lawngreen;
}

#studentMenuTable td, #mainTable td {
    width: 25%;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}

#searchFieldContainerDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0px;
    margin: 20px auto;
    text-align: center;
}

#searchField {
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #3478F6;
}

#searchField:focus{
    outline: none;
}

#submitButton {
    height: 50px;
    width: 60px;
    background-color: #3478F6;
    border-radius: 0px 5px 5px 0px;
    font-family: Byom-Icons-Trial;
    font-size: 30px;
    padding-top: 8px;
    margin: 0px;
}

@media (hover: hover) {
    #submitButton:hover {
        background-color: #094fd3;
    }
    .currentMissionsButton:hover {
        background-color: #094fd3;
    }
}

.contactButton {
    font-size: 65px;
    font-family: MobileIcons;
}

.navigationButtonContainer a {
    text-decoration: none !important;
}

@media (hover: hover) {
    .contactButton:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.currentMissionsLink {
    margin: 0px auto 20px auto;
    text-decoration: underline;
}

.currentMissionsButton {
    width: 325px;
    color: white;
    font-size: 20px;
    padding: 5px;
    background-color: #3478F6;
    text-decoration: none;
    border-radius: 10px;
}

#currentMissionsLink:hover {
    color: white;
}

#lbHeader {
    border-top: 1px solid #555;
    margin: 30px auto 20px auto !important;
    padding-top: 15px;
    font-size: 30px !important;
    text-align: center !important;
}

.colorCode {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid white;
    border-radius: 16px;
}

#ptsNote {
    font-size: 16px;
    color: #ddd;
    margin: 10px auto 20px auto;
}

#resourcesPop p {
    margin: 0px auto 25px auto;
}

#resourcesPop a {
    text-decoration: underline;
}

.socialMediaFlexDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.fbLink, .ytLink {
    height: 75px;
    width: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fbLink {
    background-image: url(../images/nav-facebook.png);
}

.ytLink {
    background-image: url(../images/nav-youtube.png);
}

@media (hover: hover) {
    .fbLink:hover, .ytLink:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.fillerDiv {
    width: 105px;
}

.rankProgress {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}